.MovieList {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
}

/* .MovieList {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 0 0 78%;
    flex: 0 0 78%;
} */